@media only screen and(max-width:770px){
    .mobile-app-banner {
    
        .mobile-app-banner-content{
            .btn{
                padding:0px 0px;
            }
        }
    
    }



.watch-video-wrapper .play-video .play-btn img {
    position: absolute;
    top: 35%;
    left: 31%;


}
}


@media only screen and(max-width:770px){
    .work-target-wrapper{
        width:100%;
        height:auto;
    }
}