* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/*****************
 Header Area Starts
******************/
.mobile-app-banner {

    background-image: url(../../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;

    .mobile-app-banner-content {
        color: white;
        margin-top: 220px;

        h1 {
            font-size: 56px;
            color: white;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            color: white;
            line-height: 40px;
            margin: 30px 0;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-image: 4px;
        }

        .buttons {
            display: flex;
            .btn {
                padding: 18px 40px;
                margin-bottom: 20px;
                margin-right: 13px;
            }

            .btn-pink {
                background-color: #fb527a;
                color: white;
                font-weight: 600 !important;
                margin-right: 10px;
                font-size: 14px;
            }

            .btn-pink:hover {
                color: #000000;
            }
        }

    }
}

/*****************
 Header Area Ends
******************/

/*****************
 Service Area Starts
******************/
.service-wrapper {
    margin: 40px 0;

    .service-title h2 {
        font-weight: 700;
        font-size: 39px;
        color: #393636;
        text-align: center;
        text-transform: capitalize;
    }

    .box-area {
        padding: 50px;
        display: inline-block;
        text-align: center;
        margin-top: 30px;
        border: 2px solid #ddd;
        background-color: white;
        border-radius: 6px;
        transition: all 0.3s ease-in-out;

        .box-title h4 {

            padding: 40px 0;
        }
    }

    .box-area:hover {
        border-top: 6px solid #fb527a;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        padding-top: 45px;
    }

}

/*****************
Service Area Ends
******************/

/*****************
Video Section Starts 
******************/
.watch-video-wrapper {

    margin: 100px auto 50px;


    .vdo-title {
        font-size: 31px;
        font-weight: bold;
    }

    .vdo-content {
        font-size: 28px;
        font-weight: bold;
    }
   


    .play-video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.856)), url(../../img/image-1.png);
        background-position: top;
        background-repeat: no-repeat;
        height: 500px;
        width: 70%;
        margin: 50px 0;
        justify-content: center;
        position: relative;
        left: 15%;
        bottom: 0%;
        border-radius: 4px;


        .play-btn img {
            position: absolute;
            top: 35%;
            left: 45%;
            // padding:155px 0;
            justify-content: center;
            //   padding: 180px 0;
            overflow: hidden;
        }
        #videolink{
            cursor: pointer;
        }
        #videolink:focus+ #videostory{
            display: block;
        }

    }
    #videostory{
        overflow:visible;
        position: relative;
        display: none;
        
        iframe{
            position: absolute;
            top:39px;
            right: 19%;

        }
}

}

/*****************
Video Section Ends
******************/

/*****************
Work Target starts
******************/
.work-target-wrapper {
    margin: 50px 0;
    background-color: #f6e6ea;
    width:100%;
    height:600px;

    .work-area {

        background: white;
        color: #000000;
        padding: 48px 35px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 8px 18px rgba(0,0,0,0.1);
        margin:120px 0;

        i {
            font-size: 42px;
            margin: 0;
            padding: 12px 0;
        }

        .work-title {
            font-size: 21px;
            font-weight: bold;
        }

        .line {
            position: relative;
            top: 0;
            left: 43%;
            background-color: #fb527a;
            margin: 5px 0 16px;
            padding: 0;
            width: 44px;
            height: 3px;
            text-align: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        }

        .work-content {
            font-size: 14px;
            margin:10px 0 40px;
            font-weight: 500;
            text-align: center;
        }
    }

    .work-area:hover{
        background-color: #fb527a;
        color: white;
        transition: all 400ms linear;

        .line{
            background-color: #ffffff;
            margin: 12px 0 16px;
         
        }
    }
    .clearfix{
        overflow: hidden;
    }

}


/*****************
Work Target Ends
******************/
